plugin: amazon.aws.aws_ec2
regions:
  - ap-southeast-1

filters:
  instance-state-name:
    - running

keyed_groups:
  - key: tags['Role']
    prefix: tag_Role
    separator: "_"

hostnames:
  - instance-id

compose:
  ansible_host: instance_id
  # Hardcoding these prevents the NoneType connection error
  ansible_connection: "'amazon.aws.aws_ssm'"
  ansible_aws_ssm_bucket_name: "'ansible-ssm-transfer-686255953032-ap-southeast-1'"
  ansible_aws_ssm_region: "'ap-southeast-1'"