plugin: amazon.aws.aws_ec2
regions:
  - us-east-1

filters:
  instance-state-name:
    - running

keyed_groups:
  - key: tags.Role
    prefix: tag_Role
    separator: "_"

hostnames:
  - instance-id

compose:
  ansible_host: instance_id
  # Force SSM connection settings at the inventory level for reliability
  ansible_connection: "'community.aws.aws_ssm'"
  ansible_aws_ssm_region: "'us-east-1'"